# --- KiCad specific ---
*.kicad_prl
*.kicad_pcb-bak
*.kicad_sch-bak
*.lck
*~
_autosave-*

# Cache files (The 3.9MB file in your list)
fp-info-cache
fp-lib-table.backup
sym-lib-table.backup

# Manufacturing/Reports
*.rpt
*.gbr
*.drl

# Project Backups (The Main-backups folder)
*-backups/

# --- Blender specific ---
*.blend[0-9]
*.blend@
